* {
    box-sizing: border-box;
}

.slide {
    display: none;
}

.caption {
    display: none;
}
.slider-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}




.img {
    width: 100%;
}

.slider-footer {
    display: flex;
    justify-content: space-between;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #f10707;
  }

  .animate {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes animate {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
 